.positionCard{
	width:100%;
	min-height:700px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#EFF5FF;
}
.myPageCard{
	width:90%;
	height : 600px;
	background-color:white;
	border-radius:1rem;
	padding:20px;
}

/* sidebar css */
.sidebarCard{
	width:150px;
	height:450px;
	padding:30px;
	margin-right:10px;
	
	border:1px solid #3333;
}

.sidebarDiv{
	cursor:pointer;
	border-bottom:1px solid #3333;
	max-width:150px;
	margin-top:10px;
	padding-bottom:10px;
	margin-bottom:15px;
}

.sidebarFont{
	font-size:20px;
	font-weight:700;
}

.sidebarFont2{
	font-size:18px;
	font-weight:600;
	margin: 10px 0 10px 0;
	
}
.tap{
	width:10px;
	min-width:10px;
	height:10px;
	background-color:#3333;
	border-radius:2rem;
	margin-right:10px;
}

.headerLogo{
	width:200px;
	min-height:75px;
	
	font-family:'Palatino Linotype';
	font-size:30px;
	font-weight:900;
}