<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypageMapper">
	
	<resultMap type="company" id="companyResultSet">
	    <result column="c_no" property="cNo"></result>
	    <result column="c_ondate" property="cOndate"></result>
	    <result column="c_indate" property="cIndate"></result>
	    <result column="c_deldate" property="cDeldate"></result>
	    <result column="c_name" property="cName"></result>
	    <result column="c_num" property="cNum"></result>
	    <result column="c_location" property="cLocation"></result>
	    <result column="c_business" property="cBusiness"></result>
	</resultMap>
	 <resultMap type="board" id="boardResultSet">
		<result column="b_no" property="no"></result>
		<result column="b_ondate" property="ondate"></result>
		<result column="b_indate" property="indate"></result>
		<result column="b_deldate" property="deldate"></result>
		<result column="b_title" property="title"></result>
		<result column="b_content" property="content"></result>
		<result column="m_no" property="mNo"></result>
		<result column="b_view" property="view"></result>
		<result column="m_name" property="name"></result>
	</resultMap>
	
	 <resultMap type="board" id="techResultSet">
		<result column="S_no" property="no"></result>
		<result column="S_ondate" property="ondate"></result>
		<result column="S_indate" property="indate"></result>
		<result column="S_deldate" property="deldate"></result>
		<result column="S_title" property="title"></result>
		<result column="S_content" property="content"></result>
		<result column="m_no" property="mNo"></result>
		<result column="S_view" property="view"></result>
		<result column="m_name" property="name"></result>
	</resultMap>
	
	<update id="update">
		UPDATE MEMBER
		SET M_INDATE = SYSDATE,
		M_NAME = #{mName},
		M_POSITION = #{mPosition},
		M_EMAIL = #{mEmail},
		M_BIRTH = #{mBirth}
	</update>
	
	<select id="selectCompany" resultMap="companyResultSet">
		SELECT * FROM COMPANY
		WHERE C_NO = #{no}
		AND C_DELDATE IS NULL
	</select>
	
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT B.*,M.M_NAME FROM BOARD B
		JOIN MEMBER M ON B.M_NO = M.M_NO
		WHERE B.M_NO = #{no}
		AND B.B_DELDATE IS NULL
		ORDER BY B.B_ONDATE DESC
	</select>
	<select id="selectBoardListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
		WHERE M_NO = #{no}
		AND B_DELDATE IS NULL
	</select>
	
	
	<select id="selectTech" resultMap="techResultSet">
		SELECT S.*,M.M_NAME FROM SOLUTION S
		JOIN MEMBER M ON S.M_NO = M.M_NO
		WHERE S.M_NO = #{no}
		AND S.S_DELDATE IS NULL
		ORDER BY S.S_ONDATE DESC
	</select>
	<select id="selectTechListCount" resultType="_int">
		SELECT COUNT(*) FROM SOLUTION
		WHERE M_NO = #{no}
		AND S_DELDATE IS NULL
	</select>

</mapper>