<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	
	<resultMap type="company" id="companyResultSet">
	    <result column="c_no" property="cNo"></result>
	    <result column="c_ondate" property="cOndate"></result>
	    <result column="c_indate" property="cIndate"></result>
	    <result column="c_deldate" property="cDeldate"></result>
	    <result column="c_name" property="cName"></result>
	    <result column="c_num" property="cNum"></result>
	    <result column="c_location" property="cLocation"></result>
	    <result column="c_business" property="cBusiness"></result>
	</resultMap>
	
	<resultMap type="member" id="memberResultSet">
		<result column="m_no" property="mNo"></result>
		<result column="m_ondate" property="mOndate"></result>
		<result column="m_indate" property="mIndate"></result>
		<result column="m_deletedate" property="mDeldate"></result>
		<result column="m_name" property="mName"></result>
		<result column="m_position" property="mPosition"></result>
		<result column="m_num" property="mNum"></result>
		<result column="m_birth" property="mBirth"></result>
		<result column="m_id" property="mId"></result>
		<result column="m_pwd" property="mPwd"></result>
		<result column="m_email" property="mEmail"></result>
		<result column="m_img" property="mImg"></result>
		<result column="m_path" property="mPath"></result>
		<result column="c_no" property="cNo"></result>
		<result column="m_type" property="mType"></result>
	</resultMap>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_ID = #{id}
	</select>
	
	<select id="findCompany" resultMap="companyResultSet">
	    SELECT * FROM COMPANY
	    WHERE C_NAME LIKE '%' || #{companyName} || '%'
	</select>
	<!-- 회사 중복 체크 -->
	<select id="checkCompany" resultType="_int">
		SELECT COUNT(*) FROM COMPANY
		WHERE C_NAME = #{cName}
		AND C_BUSINESS = #{cBusiness}
	</select>
	<!-- 회사 추가 -->
	<insert id="companyEnroll">
		INSERT INTO COMPANY(
			C_NO,
			C_ONDATE,
			C_NAME,
			C_NUM,
			C_LOCATION,
			C_BUSINESS
		) VALUES (
			company_seq.nextval,
			SYSDATE,
			#{cName},
			#{cNum},
			#{cLocation},
			#{cBusiness}
		)
	</insert>
	<select id="companyListCount" resultType="_int">
		SELECT COUNT(*) FROM COMPANY
		WHERE C_NAME = #{companyName}
	</select>
	
	<insert id="register">
		INSERT INTO MEMBER(
			M_NO,
			M_ONDATE,
			M_NAME,
			M_POSITION,
			M_NUM,
			M_BIRTH,
			M_ID,
			M_PWD,
			M_EMAIL,
			M_IMG,
			M_PATH,
			C_NO
		) VALUES (
			member_seq.nextval,
			SYSDATE,
			#{name},
			#{position},
			#{number},
			#{birth},
			#{id},
			#{pwd},
			#{email},
			#{img},
			#{path},
			#{companyNo}
		)
	</insert>
	
	<select id="login" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE M_ID = #{mId}
		AND M_DELDATE IS NULL
	</select>
	
	
	<select id="findIdCheck" resultType="_int">
		SELECT COUNT(M_ID) FROM MEMBER
		WHERE M_NAME = #{mName}
		AND M_EMAIL = #{mEmail}
		AND M_DELDATE IS NULL
	</select>
	<select id="findId" resultType="String">
		SELECT M_ID FROM MEMBER
		WHERE M_NAME = #{mName}
		AND M_EMAIL = #{mEmail}
		AND M_DELDATE IS NULL
	</select>
	
</mapper>